<a href="https://colab.research.google.com/github/sakeefmahmud/Pandas-for-Machine-Learning-Beginner-to-Industry-Grade/blob/main/PundasTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installation

In [ ]:
pip install pandas

Importing Pandas and Others

In [2]:
from google.colab import drive
import pandas as pd
import numpy as np
# from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# from sklearn import svm
# from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_squared_error
import joblib
drive.mount('/content/drive')
file='/content/drive/My Drive/Colab Notebooks/Datasets/university_test_scores.csv'

Mounted at /content/drive

Reading and Writing Data

Real-world ML data often comes from CSV, Excel, or databases

In [3]:
df = pd.read_csv(file)

In [ ]:
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

Basic Data Exploration

When you get a dataset, always explore it first.

In [18]:
df.head()       # First 5 rows

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type
0,Alabama A & M University,0.662209,947,5726,10024,18634,public
1,University of Alabama at Birmingham,0.884238,1251,12118,8832,21864,public
2,University of Alabama in Huntsville,0.742509,1321,6650,11770,24662,public
3,Alabama State University,0.956416,977,3322,11248,19576,public
4,The University of Alabama,0.758242,1287,32323,11900,33200,public

In [19]:
df.shape        # (rows, columns)

(1070, 7)

In [20]:
df.info()       # Data types & null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Institution           1070 non-null   object
 1   Admissions_Rate       1070 non-null   float64
 2   SAT_Average           1070 non-null   int64
 3   Total_Undergraduates  1070 non-null   int64
 4   InState_Tuition       1070 non-null   int64
 5   OutState_Tuition      1070 non-null   int64
 6   Funding_Type          1070 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 58.6+ KB

In [21]:
df.describe()   # Statistical summary

,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition
count,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,0.699011,1176.958879,5596.957944,28965.425234,33781.375701
std,0.227090,144.707266,8051.464428,18966.799198,15667.269830
min,0.034512,820.000000,32.000000,945.000000,945.000000
25%,0.587959,1077.000000,1232.000000,10986.750000,20624.500000
50%,0.746421,1154.000000,2428.500000,26040.000000,31705.500000
75%,0.869185,1255.500000,6233.750000,43201.250000,43652.500000
max,1.000000,1554.000000,68619.000000,69330.000000,69330.000000

In [22]:
df.columns      # Column names

Index(['Institution', 'Admissions_Rate', 'SAT_Average', 'Total_Undergraduates',
       'InState_Tuition', 'OutState_Tuition', 'Funding_Type'],
      dtype='object')

In [23]:
df.index        # Row indices

RangeIndex(start=0, stop=1070, step=1)

Selecting Data

By Column

In [24]:
# df['Institution']
df[['Institution', 'Admissions_Rate']]

                                  Institution  Admissions_Rate
0                    Alabama A & M University         0.662209
1         University of Alabama at Birmingham         0.884238
2         University of Alabama in Huntsville         0.742509
3                    Alabama State University         0.956416
4                   The University of Alabama         0.758242
...                                       ...              ...
1065                        Husson University         0.864333
1066              Purdue University Northwest         0.706287
1067                           Urshan College         0.838710
1068  Commonwealth University of Pennsylvania         0.947498
1069          Pennsylvania Western University         0.936500

[1070 rows x 2 columns]

By Row (index)

In [25]:
df.loc[0]      # By index label
# df.iloc[0]     # By index position

Institution             Alabama A & M University
Admissions_Rate                         0.662209
SAT_Average                                  947
Total_Undergraduates                        5726
InState_Tuition                            10024
OutState_Tuition                           18634
Funding_Type                              public
Name: 0, dtype: object

Filtering

In [26]:
df[df['SAT_Average'] > 1550]

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type
166,University of Chicago,0.047863,1554,7540,66939,66939,private/non-profit
317,Johns Hopkins University,0.075605,1553,5617,63340,63340,private/non-profit
345,Harvard University,0.034512,1553,7755,59076,59076,private/non-profit
352,Massachusetts Institute of Technology,0.047354,1553,4571,60156,60156,private/non-profit
898,Rice University,0.078786,1553,4562,58128,58128,private/non-profit
1027,Stanford University,0.039064,1553,7841,62484,62484,private/non-profit

Data Cleaning
Handling Missing Values

In [27]:
df.isnull().sum()           # Count missing values

Institution             0
Admissions_Rate         0
SAT_Average             0
Total_Undergraduates    0
InState_Tuition         0
OutState_Tuition        0
Funding_Type            0
dtype: int64

In [28]:
df.dropna(inplace=True)      # Drop rows with nulls

In [29]:
df.fillna(0, inplace=True)   # Fill missing with 0

Handling Duplicates

In [30]:
df.drop_duplicates(inplace=True)

Creating New Columns

In [31]:
df['average_tuition'] =(df['InState_Tuition']+df['OutState_Tuition']) / 2

In [32]:
df.head()

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type,average_tuition
0,Alabama A & M University,0.662209,947,5726,10024,18634,public,14329.0
1,University of Alabama at Birmingham,0.884238,1251,12118,8832,21864,public,15348.0
2,University of Alabama in Huntsville,0.742509,1321,6650,11770,24662,public,18216.0
3,Alabama State University,0.956416,977,3322,11248,19576,public,15412.0
4,The University of Alabama,0.758242,1287,32323,11900,33200,public,22550.0

Encoding Categorical Data

Machine learning models require numerical features.

In [33]:
df['Funding_Type'].value_counts()

Funding_Type
private/non-profit    640
public                423
private/for-profit      7
Name: count, dtype: int64

In [34]:
df['Funding_Type'] = df['Funding_Type'].map({'public': 0, 'private/non-profit': 1, 'private/for-profit': 2})

In [ ]:
df['Funding_Type'].value_counts()

Funding_Type
1    640
0    423
2      7
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns=['Institution'])

In [17]:
df.head()

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type
0,Alabama A & M University,0.662209,947,5726,10024,18634,public
1,University of Alabama at Birmingham,0.884238,1251,12118,8832,21864,public
2,University of Alabama in Huntsville,0.742509,1321,6650,11770,24662,public
3,Alabama State University,0.956416,977,3322,11248,19576,public
4,The University of Alabama,0.758242,1287,32323,11900,33200,public

Grouping & Aggregation

Useful for summarizing data.

In [4]:
df.groupby('Institution')['SAT_Average'].mean()

Institution
Abilene Christian University            1189.0
Abraham Baldwin Agricultural College     994.0
Adelphi University                      1224.0
Adrian College                          1030.0
Agnes Scott College                     1296.0
                                         ...
Yale University                         1534.0
Yeshiva University                      1410.0
York College of Pennsylvania            1135.0
York University                          988.0
Youngstown State University             1055.0
Name: SAT_Average, Length: 1064, dtype: float64

Integrating Pandas with ML
Separating Features and Labels

In [ ]:
X = df.drop('Target', axis=1)
y = df['Target']

Saving ML-Ready Data

For efficient storage:

In [ ]:
df.to_pickle('processed_data.pkl')

To load it later:

In [ ]:
df = pd.read_pickle('processed_data.pkl')

Pandas Data Structures

Pandas has two main data structures:

1.   Series â€“ 1D labeled array (like a column in Excel)
2.   DataFrame â€“ 2D table with labeled rows and columns (like a spreadsheet or SQL table).

In [ ]:


s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
data = {
    'Name': ['Foysal', 'Rahim', 'Karim'],
    'Age': [22, 24, 23],
    'Score': [85, 90, 88]
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Score
0  Foysal   22     85
1   Rahim   24     90
2   Karim   23     88

loc

In [35]:
df.loc[0, 'Institution']   # Alabama A & M University
df.loc[0:2, ['Institution','SAT_Average']]  # First 3 rows, specific columns

                           Institution  SAT_Average
0             Alabama A & M University          947
1  University of Alabama at Birmingham         1251
2  University of Alabama in Huntsville         1321

iloc

In [36]:
df.iloc[0, 0]       # (row 0, column 0)
df.iloc[0:3, 1:3]   # First 3 rows, columns 1 & 2

   Admissions_Rate  SAT_Average
0         0.662209          947
1         0.884238         1251
2         0.742509         1321

at and iat (Fast Access)

For single value access, much faster than loc and iloc.

In [37]:
# df.at[0, 'Institution']   # Alabama A & M University
df.iat[0, 0]        # (same as above but position-based)

'Alabama A & M University'

Multiple Conditions
Using & (AND), | (OR), ~ (NOT)

In [40]:

df[(df['average_tuition'] < 10000) & (df['SAT_Average'] < 1200)]

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type,average_tuition
35,University of Arkansas Community College-Morri...,1.000000,1020,1538,3504,4176,0,3840.0
122,Abraham Baldwin Agricultural College,0.771581,994,3218,3195,10101,0,6648.0
127,College of Coastal Georgia,0.985086,1001,2794,3483,10389,0,6936.0
139,Gordon State College,0.867827,950,2605,3475,10381,0,6928.0
162,Brigham Young University-Idaho,0.969523,1123,42090,4656,4656,1,4656.0
294,McNeese State University,0.675471,1080,4846,8460,9960,0,9210.0
296,Nicholls State University,0.960241,1088,4772,8173,9266,0,8719.5
407,Metropolitan State University,0.964945,1020,4998,9780,9780,0,9780.0
423,Alcorn State University,0.246572,1039,2290,8549,8549,0,8549.0
426,Delta State University,0.996779,1091,1613,8605,8605,0,8605.0
427,Jackson State University,0.910332,974,4769,9090,10110,0,9600.0
429,Mississippi University for Women,1.000000,1050,1593,8092,8092,0,8092.0
430,Mississippi Valley State University,0.511580,910,1326,7912,7912,0,7912.0
445,Logan University,0.900000,998,258,9000,9000,1,9000.0
461,Southeast Missouri State University,0.785044,1018,6588,9496,9496,0,9496.0
504,Eastern New Mexico University-Main Campus,0.549161,965,3186,6863,8843,0,7853.0
609,Fayetteville State University,0.798929,972,5493,3969,7969,0,5969.0
633,Western Carolina University,0.866634,1151,9867,4532,8532,0,6532.0
634,Minot State University,0.722148,1084,2072,8634,8634,0,8634.0
692,Northwestern Oklahoma State University,0.664346,1015,1468,5970,11664,0,8817.0
701,Southwestern Oklahoma State University,1.000000,1050,3469,8295,8325,0,8310.0
793,Thaddeus Stevens College of Technology,0.529351,1120,1449,9050,9050,0,9050.0
928,Brigham Young University-Hawaii,0.378740,1104,2812,6438,6438,1,6438.0
1022,Escuela de Artes Plasticas y Diseno de Puerto ...,1.000000,985,497,4902,8502,0,6702.0
1023,University of Puerto Rico-Aguadilla,0.817352,921,1847,5954,5954,0,5954.0
1024,University of Puerto Rico-Carolina,0.527263,904,2367,7986,7986,0,7986.0
1025,University of Puerto Rico at Cayey,0.958449,978,2201,5354,5354,0,5354.0
1029,Georgia State University-Perimeter College,0.735374,963,12871,2960,9312,0,6136.0
1055,Middle Georgia State University,0.997678,1055,6655,4432,14032,0,9232.0
1067,Urshan College,0.838710,1035,512,8506,8506,1,8506.0

Query Method (Cleaner Syntax)

Instead of complex brackets, use query():

In [41]:
df.query("average_tuition < 10000 and SAT_Average < 1200")

,Institution,Admissions_Rate,SAT_Average,Total_Undergraduates,InState_Tuition,OutState_Tuition,Funding_Type,average_tuition
35,University of Arkansas Community College-Morri...,1.000000,1020,1538,3504,4176,0,3840.0
122,Abraham Baldwin Agricultural College,0.771581,994,3218,3195,10101,0,6648.0
127,College of Coastal Georgia,0.985086,1001,2794,3483,10389,0,6936.0
139,Gordon State College,0.867827,950,2605,3475,10381,0,6928.0
162,Brigham Young University-Idaho,0.969523,1123,42090,4656,4656,1,4656.0
294,McNeese State University,0.675471,1080,4846,8460,9960,0,9210.0
296,Nicholls State University,0.960241,1088,4772,8173,9266,0,8719.5
407,Metropolitan State University,0.964945,1020,4998,9780,9780,0,9780.0
423,Alcorn State University,0.246572,1039,2290,8549,8549,0,8549.0
426,Delta State University,0.996779,1091,1613,8605,8605,0,8605.0
427,Jackson State University,0.910332,974,4769,9090,10110,0,9600.0
429,Mississippi University for Women,1.000000,1050,1593,8092,8092,0,8092.0
430,Mississippi Valley State University,0.511580,910,1326,7912,7912,0,7912.0
445,Logan University,0.900000,998,258,9000,9000,1,9000.0
461,Southeast Missouri State University,0.785044,1018,6588,9496,9496,0,9496.0
504,Eastern New Mexico University-Main Campus,0.549161,965,3186,6863,8843,0,7853.0
609,Fayetteville State University,0.798929,972,5493,3969,7969,0,5969.0
633,Western Carolina University,0.866634,1151,9867,4532,8532,0,6532.0
634,Minot State University,0.722148,1084,2072,8634,8634,0,8634.0
692,Northwestern Oklahoma State University,0.664346,1015,1468,5970,11664,0,8817.0
701,Southwestern Oklahoma State University,1.000000,1050,3469,8295,8325,0,8310.0
793,Thaddeus Stevens College of Technology,0.529351,1120,1449,9050,9050,0,9050.0
928,Brigham Young University-Hawaii,0.378740,1104,2812,6438,6438,1,6438.0
1022,Escuela de Artes Plasticas y Diseno de Puerto ...,1.000000,985,497,4902,8502,0,6702.0
1023,University of Puerto Rico-Aguadilla,0.817352,921,1847,5954,5954,0,5954.0
1024,University of Puerto Rico-Carolina,0.527263,904,2367,7986,7986,0,7986.0
1025,University of Puerto Rico at Cayey,0.958449,978,2201,5354,5354,0,5354.0
1029,Georgia State University-Perimeter College,0.735374,963,12871,2960,9312,0,6136.0
1055,Middle Georgia State University,0.997678,1055,6655,4432,14032,0,9232.0
1067,Urshan College,0.838710,1035,512,8506,8506,1,8506.0

Handling Missing Values
Dropping Columns

If a column has too many missing values, drop it:

In [42]:
df.drop(columns=['Total_Undergraduates'], inplace=True)

Dropping Rows

If only a few rows have missing data

In [46]:
df.dropna(subset=['Institution'], inplace=True)

Filling Missing Values

For numerical columns, you can use:

Mean

Median (better for skewed data)

Mode (most common value)

In [48]:
df['SAT_Average'].fillna(df['SAT_Average'].mode()[0], inplace=True)

/tmp/ipython-input-4046639897.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SAT_Average'].fillna(df['SAT_Average'].mode()[0], inplace=True)

Detect Outliers using IQR

IQR (Interquartile Range) method is common in ML.

In [49]:
Q1 = df['SAT_Average'].quantile(0.25)
Q3 = df['SAT_Average'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['SAT_Average'] < lower_bound) | (df['SAT_Average'] > upper_bound)]
print(outliers.shape)

(22, 7)

Remove Outliers

In [50]:
df = df[(df['SAT_Average'] >= lower_bound) & (df['SAT_Average'] <= upper_bound)]